# Here are some resources to help you get started
[Data Source​ Website](https://data.cms.gov/provider-data/dataset/mj5m-pzi6)

Data Dictionary: https://data.cms.gov/provider-data/sites/default/files/data_dictionaries/physician/DOC_Data_Dictionary.pdf

[Exploratory Data Analysis Tutorials](https://www.analyticsvidhya.com/blog/2021/02/introduction-to-exploratory-data-analysis-eda/)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from pylab import rcParams
rcParams['figure.figsize'] = (12,6)
sns.set()

In [ ]:
# This cell downloads the data from the cms website
! wget https://data.cms.gov/provider-data/sites/default/files/resources/69a75aa9d3dc1aed6b881725cf0ddc12_1654518159/DAC_NationalDownloadableFile.csv

--2022-07-05 21:48:27--  https://data.cms.gov/provider-data/sites/default/files/resources/69a75aa9d3dc1aed6b881725cf0ddc12_1654518159/DAC_NationalDownloadableFile.csv
Resolving data.cms.gov (data.cms.gov)... 184.31.25.37, 2600:1406:1400:699::28a, 2600:1406:1400:691::28a
Connecting to data.cms.gov (data.cms.gov)|184.31.25.37|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 735575186 (701M) [text/csv]
Saving to: ‘DAC_NationalDownloadableFile.csv’

DAC_NationalDownloa 100%[===================>] 701.50M  35.4MB/s    in 19s

2022-07-05 21:48:47 (37.2 MB/s) - ‘DAC_NationalDownloadableFile.csv’ saved [735575186/735575186]

In [ ]:
# Running ls shows us that the DAC_NationalDownnloadableFile.csv is available in the local filesystem for this notebook
! ls

DAC_NationalDownloadableFile.csv  sample_data

In [ ]:
# This line reads in the file to a pandas dataframe
df = pd.read_csv('DAC_NationalDownloadableFile.csv',encoding_errors='ignore',low_memory=False)

In [ ]:
# Now we view the top of the dataframe
df.head()

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id
0,1215155429,6507031499,I20111205000151,WEYMAN,TERRY,L,NaN,M,NaN,CLEVELAND CHIROPRACTIC COLLEGE - LOS ANGELES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,CA913612415WE2277XRDXX303
1,1215377635,9133419120,I20200609000011,DUPONT,BRETT,JAMES,NaN,M,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,CA954767046SO651XXWXXX406
2,1215151303,4587852165,I20101227000044,MORGAN,BARBARA,K,NaN,F,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,TX756054636LO2401XRDXX301
3,1215148507,749332930,I20120404001029,BRANTLEY,ELISE,I,NaN,F,NaN,UNIVERSITY OF OKLAHOMA COLLEGE OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,OK731341849OK3030XSTXX401
4,1215300983,9638476138,I20160329001230,HUNTLEY,TAYLOR,NaN,NaN,M,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,SC295014173FL1451XSTXX400

In [ ]:
# Here we check how big the dataframe is
df.shape

(2383035, 40)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383035 entries, 0 to 2383034
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   NPI              int64
 1    Ind_PAC_ID      int64
 2    Ind_enrl_ID     object
 3    lst_nm          object
 4    frst_nm         object
 5    mid_nm          object
 6    suff            object
 7    gndr            object
 8    Cred            object
 9    Med_sch         object
 10   Grd_yr          float64
 11   pri_spec        object
 12   sec_spec_1      object
 13      sec_spec_2   object
 14   sec_spec_3      object
 15   sec_spec_4      object
 16   sec_spec_all    object
 17      org_nm       object
 18   org_pac_id      float64
 19   num_org_mem     float64
 20   adr_ln_1        object
 21   adr_ln_2        object
 22   ln_2_sprs       object
 23   cty             object
 24   st              object
 25   zip             object
 26   phn_numbr       float64
 27      hosp_afl_1   float64
 28   hosp_afl_lbn_1  object
 29   hosp_afl_2      object
 30   hosp_afl_lbn_2  object
 31   hosp_afl_3      object
 32   hosp_afl_lbn_3  object
 33   hosp_afl_4      object
 34   hosp_afl_lbn_4  object
 35   hosp_afl_5      float64
 36   hosp_afl_lbn_5  object
 37   ind_assgn       object
 38   grp_assgn       object
 39   adrs_id         object
dtypes: float64(6), int64(2), object(32)
memory usage: 727.2+ MB

#Above .info() command is not showing the non-null and null values, so I found a possible solution on stackoverflow as shown below

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383035 entries, 0 to 2383034
Data columns (total 40 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   NPI              2383035 non-null  int64
 1    Ind_PAC_ID      2383035 non-null  int64
 2    Ind_enrl_ID     2383035 non-null  object
 3    lst_nm          2382984 non-null  object
 4    frst_nm         2383004 non-null  object
 5    mid_nm          1702897 non-null  object
 6    suff            38119 non-null    object
 7    gndr            2383035 non-null  object
 8    Cred            610734 non-null   object
 9    Med_sch         2383030 non-null  object
 10   Grd_yr          2381562 non-null  float64
 11   pri_spec        2383035 non-null  object
 12   sec_spec_1      325244 non-null   object
 13      sec_spec_2   34844 non-null    object
 14   sec_spec_3      3623 non-null     object
 15   sec_spec_4      615 non-null      object
 16   sec_spec_all    325244 non-null   object
 17      org_nm       2220208 non-null  object
 18   org_pac_id      2220212 non-null  float64
 19   num_org_mem     2220212 non-null  float64
 20   adr_ln_1        2383035 non-null  object
 21   adr_ln_2        837349 non-null   object
 22   ln_2_sprs       151005 non-null   object
 23   cty             2383035 non-null  object
 24   st              2383035 non-null  object
 25   zip             2383035 non-null  object
 26   phn_numbr       2010498 non-null  float64
 27      hosp_afl_1   1653573 non-null  float64
 28   hosp_afl_lbn_1  1611036 non-null  object
 29   hosp_afl_2      804138 non-null   object
 30   hosp_afl_lbn_2  791677 non-null   object
 31   hosp_afl_3      416086 non-null   object
 32   hosp_afl_lbn_3  412547 non-null   object
 33   hosp_afl_4      238787 non-null   object
 34   hosp_afl_lbn_4  237202 non-null   object
 35   hosp_afl_5      151736 non-null   float64
 36   hosp_afl_lbn_5  150555 non-null   object
 37   ind_assgn       2383035 non-null  object
 38   grp_assgn       2383035 non-null  object
 39   adrs_id         2383035 non-null  object
dtypes: float64(6), int64(2), object(32)
memory usage: 727.2+ MB

#As shown above, there are a lot of null values in multiple columns 

Shows the first issue of the data, there are a lot of null or empty boxes.

In [ ]:
#Basic Statistical Data (mean, max, standard deviation, etc)
df.describe()

,NPI,Ind_PAC_ID,Grd_yr,org_pac_id,num_org_mem,phn_numbr,hosp_afl_1,hosp_afl_5
count,2.383035e+06,2.383035e+06,2.381562e+06,2.220212e+06,2.220212e+06,2.010498e+06,1.653573e+06,151736.000000
mean,1.500005e+09,4.993552e+09,2.002790e+03,4.928591e+09,7.115752e+02,2.198015e+12,2.641841e+05,287581.218472
std,2.876755e+08,2.871052e+09,1.243369e+01,2.840208e+09,1.172627e+03,1.050912e+14,1.521228e+05,157954.095316
min,1.003000e+09,4.210003e+07,1.947000e+03,4.210009e+07,2.000000e+00,2.004600e+09,1.000100e+04,10001.000000
25%,1.255309e+09,2.466870e+09,1.994000e+03,2.567460e+09,3.500000e+01,3.865031e+09,1.300070e+05,150091.000000
50%,1.497997e+09,4.981957e+09,2.005000e+03,4.789589e+09,1.990000e+02,6.095976e+09,2.500250e+05,281305.000000
75%,1.750033e+09,7.416947e+09,2.013000e+03,7.416044e+09,9.630000e+02,8.027707e+09,3.900490e+05,391308.000000
max,1.993000e+09,9.931600e+09,2.024000e+03,9.931600e+09,7.567000e+03,9.857277e+15,6.703190e+05,670312.000000

In [ ]:
#This shows the amount of null values 
df.isnull().sum()

NPI                      0
 Ind_PAC_ID              0
 Ind_enrl_ID             0
 lst_nm                 51
 frst_nm                31
 mid_nm             680138
 suff              2344916
 gndr                    0
 Cred              1772301
 Med_sch                 5
 Grd_yr               1473
 pri_spec                0
 sec_spec_1        2057791
    sec_spec_2     2348191
 sec_spec_3        2379412
 sec_spec_4        2382420
 sec_spec_all      2057791
    org_nm          162827
 org_pac_id         162823
 num_org_mem        162823
 adr_ln_1                0
 adr_ln_2          1545686
 ln_2_sprs         2232030
 cty                     0
 st                      0
 zip                     0
 phn_numbr          372537
    hosp_afl_1      729462
 hosp_afl_lbn_1     771999
 hosp_afl_2        1578897
 hosp_afl_lbn_2    1591358
 hosp_afl_3        1966949
 hosp_afl_lbn_3    1970488
 hosp_afl_4        2144248
 hosp_afl_lbn_4    2145833
 hosp_afl_5        2231299
 hosp_afl_lbn_5    2232480
 ind_assgn               0
 grp_assgn               0
 adrs_id                 0
dtype: int64

IMPORTANT SECTIONS WITH NULL (in my opinion)
frst_nm
lst_nm
cred



#Now we can replace or delete all the null values with the mean median mode or using regression. 

(I havent done so as of yet)

In [ ]:
#Checks if our data has any duplicates
df.duplicated(subset = ['NPI'])

0          False
1          False
2          False
3          False
4          False
           ...
2383030     True
2383031     True
2383032     True
2383033     True
2383034     True
Length: 2383035, dtype: bool

#Our data has no duplicates

In [ ]:
#Checks if all the data for important columns are unique.
df.nunique()

NPI                1212968
 Ind_PAC_ID        1212970
 Ind_enrl_ID       1269278
 lst_nm             274185
 frst_nm             83175
 mid_nm              34643
 suff                   11
 gndr                    2
 Cred                   21
 Med_sch               463
 Grd_yr                 77
 pri_spec               86
 sec_spec_1             70
    sec_spec_2          67
 sec_spec_3             58
 sec_spec_4             44
 sec_spec_all         1553
    org_nm           76036
 org_pac_id          76638
 num_org_mem           681
 adr_ln_1           244741
 adr_ln_2            32171
 ln_2_sprs               1
 cty                 11035
 st                     56
 zip                257681
 phn_numbr          225552
    hosp_afl_1        4819
 hosp_afl_lbn_1       4443
 hosp_afl_2           4758
 hosp_afl_lbn_2       4395
 hosp_afl_3           4625
 hosp_afl_lbn_3       4311
 hosp_afl_4           4406
 hosp_afl_lbn_4       4168
 hosp_afl_5           4142
 hosp_afl_lbn_5       3944
 ind_assgn               2
 grp_assgn               2
 adrs_id            349561
dtype: int64

#I think that the amount of doctors in the data is 1212968, because thats the total of unique NPI numbers.

In [ ]:
pd.options.display.max_rows = 100 #changing the maximum amount of rows that are allowed to be displayed from the dataset

print(df.head(100))

#Chose to look at the first 100 to see if I can notice any patterns in the data

           NPI   Ind_PAC_ID      Ind_enrl_ID              lst_nm      frst_nm  \
0   1215155429   6507031499  I20111205000151              WEYMAN        TERRY
1   1215377635   9133419120  I20200609000011              DUPONT        BRETT
2   1215151303   4587852165  I20101227000044              MORGAN      BARBARA
3   1215148507    749332930  I20120404001029            BRANTLEY        ELISE
4   1215300983   9638476138  I20160329001230             HUNTLEY       TAYLOR
5   1215197363   5193890473  I20080821000061  CARRERAS RODRIGUEZ         JOHN
6   1215285135   7214156561  I20140918000582             BLANSON         ERIC
7   1215203914   4688837818  I20151105000565              LISTER      MICHAEL
8   1215158522   9234284365  I20090826000098             DEBRUIN        LAURA
9   1215148200   3375618614  I20080820000611           SHANMUGAM       GANESH
10  1215306683   8224303789  I20171009003379              JENSEN        JACOB
11  1215235635   3577503853  I20050505000770          HOCHHEISER          JAY
12  1215197819   5395800973  I20090213000497              FRENCH        COREY
13  1215369095   5698160554  I20220311002147               MACON      ANTHONY
14  1215161153   4880831551  I20200316002409               DAVIS        GAVIN
15  1215177704   8628134293  I20090305000539               YOUNG       SANDEE
16  1215267166   6406980846  I20100820000046              ACOSTA        JORGE
17  1215268875   1254578198  I20130513000322              ARNOLD          ROY
18  1215189675   5395921886  I20110518000140               MIRAJ        HASAN
19  1215177720   9638583107  I20210125001754             MENSING      LACHELL
20  1215381900   7911292164  I20190523000784         ZOCK A ZOCK         REMY
21  1215153473   2264556844  I20100903000099             SALINAS      NATALIA
22  1215265335   6305981556  I20100226000718              DALBEC        JACOB
23  1215174156   4688854318  I20110211000553              BURDEN      GREGORY
24  1215166483   2466587928  I20100323000310           MYEROWITZ       DANIEL
25  1215175666   6103004528  I20110706000450                 RAI        SEEMA
26  1215151220   3274663364  I20120322000404             FENBERG      CYNTHIA
27  1215248943    648499905  I20140918000881               COLON    FRANCISCO
28  1215254040   9537332465  I20111109000277           ADELSTEIN       LESLIE
29  1215370556   8820230816  I20140328000889               BAKER        BRYAN
30  1215227392   4789805664  I20141017000320        UBINAS FRIAS      CLAUDIA
31  1215343900   7911229851  I20141204001458               ALTER         JEAN
32  1215353651    648592741  I20150806012033               HICKS        TRACY
33  1215240759   2668642208  I20110908002172          BEDENBAUGH  CHRISTOPHER
34  1215253505   9638208366  I20100518000824             KAISHER     KIMBERLY
35  1215177811   4183883804  I20120315000172             ROBERTS       DOXENE
36  1215251228   9436281581  I20140714000860             SOJITRA        HETAL
37  1215243621   7517281298  I20150129001033  CASTELLANOS MARTIN     MICHELLE
38  1215155254   9335182807  I20050608000581                PARK         ROMY
39  1215367792    648550616  I20161208001191           SICKINGER         ERIC
40  1215281639   3971823790  I20200108000624               LOPEZ     IVELISSE
41  1215258736   1557507597  I20181120002506               AZZAM      MICHAEL
42  1215265202   5597952945  I20101210000287      COLON GAVILLAN          ADA
43  1215377601   8325274616  I20180322000554           RUTENBERG       DMITRY
44  1215156831   9537254800  I20071002000017              BERMAN      MATTHEW
45  1215235031   7113184110  I20120202000430               ALLEN        SUSAN
46  1215221700   4082874532  I20210402000241              GENAUX    CATHERINE
47  1215194261   2466520234  I20081018000041          BERENHOLTZ          ROY
48  1215188255   8820272503  I20110915000044           ROBERTSON          LEE
49  1215147053    840691218  I20210623003144             MAXWELL       TERESA
50  1215298823   1951624790  I20141230002340               JAVAN        NADER
51  1215348222   3072809797  I20181222000365               VATAN         SARA
52  1215249479   1254523244  I20101008000690               CECIL       LESLIE
53  1215191846   6204090988  I20120608000212                WONG       DENISE
54  1215310701   6507271731  I20210219001189             TASSONE       ALMIRA
55  1215242243   3971775784  I20111019000926                DODD       DEANNA
56  1215263991   2668643271  I20110912000278             REINERS       COLLIN
57  1215356100   2769760941  I20161021001260            CONNOLLY       CARMEN
58  1215199211   9133251044  I20100713000067               REGIS        JASON
59  1215260591   5294056370  I20150730010948               BLANK       JEREMY
60  1215172580   8123182425  I20090302000665              CHAMPE       SANDRA
61  1215396874   7719284611  I20191022001691             THACKER         TOBE
62  1215259841   4587852348  I20101220001184              ALDAPE        AARON
63  1215207543   9032369152  I20140522000219               TITUS     VICTORIA
64  1215350624   9931403052  I20160210002721           WARNINGER     JONATHAN
65  1215192414   4789737776  I20090810000285                COOK  CHRISTOPHER
66  1215239959   6901088772  I20110315001025               HAINS        CATHY
67  1215193735   9234370792  I20130725000277       RIVERA ROSADO      MIREILY
68  1215240437   6002121084  I20150820009710             BRIGELL     MADELINE
69  1215376108   7416199583  I20161109000294             ABRAHAM         TINA
70  1215175666   6103004528  I20110706000450                 RAI        SEEMA
71  1215159660   5496823296  I20081007000286               SMITH         ANNE
72  1215245923   3678891595  I20150406000525              MCCOOL      DEBORAH
73  1215236419   8022235423  I20140807002631               METTU      PRADEEP
74  1215233812   6709069313  I20121114000364               OLSON      HEATHER
75  1215377841   1658664610  I20160728000432                  LE           AN
76  1215381777   2961812763  I20201118001404             COMPTON      RICHARD
77  1215334172   6002132990  I20150312001335               KAMAU       MEDINA
78  1215366539   5193952992  I20131227001019               SOVAK       ANGELA
79  1215215942   9638342363  I20190924000330              STORMS        JASON
80  1215325535   2466764758  I20191204000130            OKONOFUA       MODUPE
81  1215260930   8820254311  I20190927001057             ADETORO     ADEDOYIN
82  1215294566   7719296813  I20151012000381     REYNA MALDONADO        EDGAR
83  1215185343   4981855061  I20121120000082     EGOZCUE DIONISI       MONICA
84  1215258017   3678700713  I20131216001292               GHATA       JOSEPH
85  1215385851   6406140615  I20160811000581                CUFF      YOLANDA
86  1215206040   1254696156  I20180614003101             PILESKI       AMANDA
87  1215211974   5799952446  I20120119000929              DERFUS     RICHELLE
88  1215331475   5294059739  I20150112000040          RICHARDSON      CHARLES
89  1215248414   2668664749  I20101007000682                CAIN       JARROD
90  1215290689   3476863275  I20151106001307                 OTT       ASHLEY
91  1215279526   2365739851  I20160927002519             JHURANI        SONIA
92  1215239728   5092990408  I20110429000122              TAYLOR      BRITTON
93  1215215942   9638342363  I20190924000330              STORMS        JASON
94  1215162284   8921244542  I20130426000000             KITCHIN        LINDY
95  1215271317   8123271509  I20130115000252            SIMONIAN         INGA
96  1215284971   6204057326  I20141014002282           WOODWORTH       AMANDA
97  1215294566   7719296813  I20151012000381     REYNA MALDONADO        EDGAR
98  1215220389   2769601301  I20181116001681                OJHA        MAMTA
99  1215183975   4385825512  I20110222000493           GREENBERG        MARNI

      mid_nm  suff  gndr  Cred  \
0          L   NaN     M   NaN
1      JAMES   NaN     M   NaN
2          K   NaN     F   NaN
3          I   NaN     F   NaN
4        NaN   NaN     M   NaN
5          E   NaN     M   NaN
6          R   NaN     M   NaN
7          B   NaN     M   NaN
8        NaN   NaN     F   NaN
9        NaN   NaN     M   NaN
10       NaN   NaN     M   NaN
11       NaN   NaN     M   CSW
12         M   NaN     M   NaN
13         W   NaN     M   NaN
14       NaN   NaN     M   NaN
15         K   NaN     F   NaN
16         F   NaN     M   NaN
17     MASON   NaN     M   NaN
18       NaN   NaN     M   NaN
19     MARIE   NaN     F   NaN
20         W   NaN     M   NaN
21       NaN   NaN     F   NaN
22         B   NaN     M   NaN
23         D   NaN     M   NaN
24         J   NaN     M   NaN
25       NaN   NaN     F   NaN
26         A   NaN     F   NaN
27         M   NaN     M   NaN
28     ROBIN   NaN     F   NaN
29     CRAIG   NaN     M   NaN
30         X   NaN     F   NaN
31         K   NaN     F   NaN
32    LANELL   NaN     F   NaN
33       NaN   NaN     M   NaN
34         M   NaN     F   NaN
35         L   NaN     F   NaN
36       NaN   NaN     M   NaN
37       NaN   NaN     F   NaN
38       NaN   NaN     F    OD
39   MICHAEL   NaN     M   NaN
40       NaN   NaN     F   NaN
41         G   NaN     M   NaN
42       NaN   NaN     F   NaN
43       NaN   NaN     M   NaN
44       NaN   NaN     M   NaN
45         K   NaN     F   NaN
46       NaN   NaN     F   NaN
47       NaN   NaN     M   NaN
48         W   NaN     M   NaN
49     MYERS   NaN     F   NaN
50         G   NaN     M   NaN
51       NaN   NaN     F   NaN
52    WESLEY   NaN     F   NaN
53         R   NaN     F   NaN
54       NaN   NaN     F   NaN
55         W   NaN     F   NaN
56       NaN   NaN     M   NaN
57         R   NaN     M   NaN
58         A   NaN     M   NaN
59       NaN   NaN     M   NaN
60         R   NaN     F   NaN
61       NaN   NaN     M   NaN
62       NaN   NaN     M   NaN
63         O   NaN     F   NaN
64         J   NaN     M   NaN
65         R   NaN     M   NaN
66       NaN   NaN     F   NaN
67       NaN   NaN     F   NaN
68       NaN   NaN     F   NaN
69         E   NaN     F   NaN
70       NaN   NaN     F   NaN
71         E   NaN     F   NaN
72     LICSW   NaN     F   NaN
73  SAIGOPAL   NaN     M   NaN
74       NaN   NaN     F   NaN
75       DUY   NaN     M   NaN
76      ALAN   NaN     M   NaN
77         M   NaN     F   NaN
78         F   NaN     F   NaN
79   MATTHEW   NaN     M   NaN
80         M   NaN     F   NaN
81         O   NaN     M   NaN
82         D   NaN     M   NaN
83         M   NaN     F   NaN
84       NaN   NaN     M   NaN
85         Y   NaN     F   NaN
86         H   NaN     F   NaN
87         L   NaN     F   NaN
88    EDWARD   III     M   NaN
89         A   NaN     M   NaN
90    MCKAIN   NaN     F   NaN
91       NaN   NaN     F   NaN
92         A   NaN     M   NaN
93   MATTHEW   NaN     M   NaN
94         W   NaN     F   NaN
95       NaN   NaN     F   NaN
96         C   NaN     F   NaN
97         D   NaN     M   NaN
98       NaN   NaN     F   NaN
99      LEAH   NaN     F   NaN

                                              Med_sch  ...  \
0        CLEVELAND CHIROPRACTIC COLLEGE - LOS ANGELES  ...
1                                               OTHER  ...
2                                               OTHER  ...
3          UNIVERSITY OF OKLAHOMA COLLEGE OF MEDICINE  ...
4                                               OTHER  ...
5                       NEW YORK CHIROPRACTIC COLLEGE  ...
6   KENT STATE UNIVERSITY COLLEGE OF PODIATRIC MED...  ...
7                                               OTHER  ...
8                                               OTHER  ...
9   TEXAS A & M UNIVERSITY SYSTEM, HSC, COLLEGE OF...  ...
10                                              OTHER  ...
11                                              OTHER  ...
12                      LOGAN COLLEGE OF CHIROPRACTIC  ...
13                                              OTHER  ...
14  MEDICAL UNIVERSITY OF SOUTH CAROLINA COLLEGE O...  ...
15                                              OTHER  ...
16                                              OTHER  ...
17           UNIVERSITY OF ALABAMA SCHOOL OF MEDICINE  ...
18                                              OTHER  ...
19                                              OTHER  ...
20  TEXAS A & M UNIVERSITY SYSTEM, HSC, COLLEGE OF...  ...
21                                              OTHER  ...
22               NORTHWESTERN COLLEGE OF CHIROPRACTIC  ...
23                                              OTHER  ...
24                                              OTHER  ...
25                           NEW YORK MEDICAL COLLEGE  ...
26                                              OTHER  ...
27                                              OTHER  ...
28                                              OTHER  ...
29       CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY  ...
30                                              OTHER  ...
31                                              OTHER  ...
32                                              OTHER  ...
33           SHERMAN COLLEGE OF STRAIGHT CHIROPRACTIC  ...
34                                              OTHER  ...
35                                              OTHER  ...
36                                              OTHER  ...
37                                              OTHER  ...
38           ILLINOIS COLLEGE OF OPTOMETRY AT CHICAGO  ...
39        UNIVERSITY OF PITTSBURGH SCHOOL OF MEDICINE  ...
40                                              OTHER  ...
41          SAINT LOUIS UNIVERSITY SCHOOL OF MEDICINE  ...
42                                              OTHER  ...
43                                              OTHER  ...
44                      LOGAN COLLEGE OF CHIROPRACTIC  ...
45                                              OTHER  ...
46                                              OTHER  ...
47  ALBERT EINSTEIN COLLEGE OF MEDICINE OF YESHIVA...  ...
48                                              OTHER  ...
49                                              OTHER  ...
50                                              OTHER  ...
51                                              OTHER  ...
52  UNIVERSITY ALABAMA BIRMINGHAM  - SCHOOL OF OPT...  ...
53     VIRGINIA COMMONWEALTH UNIV SCHOOL OF DENTISTRY  ...
54                                              OTHER  ...
55                                              OTHER  ...
56                   NEW ENGLAND COLLEGE OF OPTOMETRY  ...
57           SHERMAN COLLEGE OF STRAIGHT CHIROPRACTIC  ...
58                          LIFE CHIROPRACTIC COLLEGE  ...
59                                              OTHER  ...
60                                              OTHER  ...
61                      LOGAN COLLEGE OF CHIROPRACTIC  ...
62  UNIVERSITY OF NORTH TEXAS HSC, COLLEGE OF OSTE...  ...
63                                              OTHER  ...
64                   NATIONAL COLLEGE OF CHIROPRACTIC  ...
65  OKLAHOMA STATE UNIVERSITY COLLEGE OF OSTEOPATH...  ...
66                                              OTHER  ...
67                                              OTHER  ...
68  UNIVERSITY OF CHICAGO, PRITZKER SCHOOL OF MEDI...  ...
69  MICHIGAN STATE UNIVERSITY COLLEGE OF OSTEOPATH...  ...
70                           NEW YORK MEDICAL COLLEGE  ...
71                                              OTHER  ...
72                                              OTHER  ...
73                                              OTHER  ...
74                                              OTHER  ...
75               TEMPLE UNIVERSITY SCHOOL OF MEDICINE  ...
76    LAKE ERIE COLLEGE OF OSTEOPATHIC MEDICINE, ERIE  ...
77                                              OTHER  ...
78                                              OTHER  ...
79           INDIANA UNIVERSITY - SCHOOL OF OPTOMETRY  ...
80                                              OTHER  ...
81                                              OTHER  ...
82                                              OTHER  ...
83                                              OTHER  ...
84         UNIVERSITY OF OKLAHOMA COLLEGE OF MEDICINE  ...
85                                              OTHER  ...
86  STATE UNIVERSITY OF NEW YORK AT BUFFALO SCHOOL...  ...
87                                              OTHER  ...
88       CLEVELAND CHIROPRACTIC COLLEGE - LOS ANGELES  ...
89                                              OTHER  ...
90  UNIVERSITY ALABAMA BIRMINGHAM  - SCHOOL OF OPT...  ...
91                                              OTHER  ...
92                                              OTHER  ...
93           INDIANA UNIVERSITY - SCHOOL OF OPTOMETRY  ...
94  BRODY SCHOOL OF MEDICINE AT EAST CAROLINA UNIV...  ...
95                                              OTHER  ...
96                                              OTHER  ...
97                                              OTHER  ...
98                                              OTHER  ...
99                                              OTHER  ...

                                    hosp_afl_lbn_2  hosp_afl_3  \
0                                              NaN         NaN
1                                              NaN         NaN
2                                              NaN         NaN
3                                              NaN         NaN
4                                              NaN         NaN
5                                              NaN         NaN
6                                              NaN         NaN
7                                              NaN         NaN
8                                              NaN         NaN
9                                              NaN         NaN
10                                             NaN         NaN
11                                             NaN         NaN
12                                             NaN         NaN
13                                             NaN         NaN
14                                             NaN         NaN
15                                             NaN         NaN
16                                             NaN         NaN
17                            WOMEN'S HOSPITAL THE         NaN
18                                             NaN         NaN
19                                             NaN         NaN
20                                             NaN         NaN
21                                             NaN         NaN
22                                             NaN         NaN
23                                             NaN         NaN
24                                             NaN         NaN
25                 NORTH SHORE UNIVERSITY HOSPITAL      330195
26                                             NaN         NaN
27                                             NaN         NaN
28                                             NaN         NaN
29                                             NaN         NaN
30                                             NaN         NaN
31                                             NaN         NaN
32                                             NaN         NaN
33                                             NaN         NaN
34                                             NaN         NaN
35                                             NaN         NaN
36                                             NaN         NaN
37                                             NaN         NaN
38                                             NaN         NaN
39                                             NaN         NaN
40                                             NaN         NaN
41                           OLATHE MEDICAL CENTER         NaN
42                                             NaN         NaN
43                                             NaN         NaN
44                                             NaN         NaN
45                                             NaN         NaN

#The middle names of the doctors are either null, the full middle name, or just the initial 

# The 'Ind_PAC_ID' column has varying sizes of the ID numbers, its not consistent as compared to the other ID columns

#Some people have two names in the last name column instead of just one

#The 'cred' column (credentials) has a lot of null values, and it is a pretty important column

#As shown here and in the 'df.isnull().sum()' done above a lot of the 'hospital_lbn' have null values and it may be better if those columns are removed from the data. 

#the assgn and grp_assgn columns show whether the doctor will 'm' for maybe or 'y' for yes will accept payment through a Medicare approved amount. The 'm' doctors can be removed to reduce the pool of doctors to choose from 

###Rather small issue, but there is a typo in the data but thought I should mention it.

__________________________________________________________________________________________________
#Questions to be answered 

#Where will the experiment be taking place? We can narrow down doctors using a location bias

#Is there an amount of years in practice required? We can narrow down doctors using their graduation year 

#For the doctors with 'other' as the name of their medical school, is the name of the school even necessary and could we remove the medical school column entirely or remove the ones with 'other' as their medical school name. 

#How much is the importance of the 'secondary specialty' columns as they have some of the most null values.

---------------------------------------------------------------------------------------------

#Suggestions

### Remove the 'suff' column
### Remove the doctors that have a value in 'ln_2_sprs' shows that the address given may be incomplete

### Possibly remove some of the 'hosp_afl_lbn' columns and the 'hosp_afl' columns